<section fxLayoutAlign="center">
  <mat-card>
    <form #f="ngForm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" (ngSubmit)="loginUsuario(f)">
      <mat-form-field>
        <mat-label>Ingrese email</mat-label>
        <input
          type="email"
          matInput
          placeholder="ymartinez7@gmail.com"
          name="email"
          ngModel
          required
        />
        <mat-error>Debe ingresar el email</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ingrese password</mat-label>
        <input
          type="password"
          matInput
          placeholder="Ingrese la contraseña"
          name="password"
          ngModel
          required
        />
        <mat-error>Debe ingresar la contraseña</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Enviar</button>
    </form>
  </mat-card>
</section>
